table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: .5em;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter {
  margin: 1em;
  text-align: center;
}